#para ignorar todas las carpetas llamadas 'x'
#hay que poner: **/x/

# --- BACKEND ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.venv/
.env.*
.pytest_cache/

**/models/
**/notebooks/
**/imagenes/
**/utils/
**/descartado/
**/.vscode/
**/output/


**/build/
**/coverage/
.pnp
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*


