#para ignorar todas las carpetas llamadas 'x'
#hay que poner: **/x/

# Ignorar archivo y carpetas de documentación
codigo-de-ejemplo-redes/
requirements.txt
venv_run.bat

# --- BACKEND ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.venv/
.env.*
**data/
**/models/**/*.pt
**/models/**/*.pth
**/models/
**/notebooks/
**/imagenes/
**/utils/


# --- FRONTEND ---
**/node_modules/
**/build/
**/coverage/
.pnp
.pnp.js
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar carpeta de pruebas con Blender (añadido)
**/pruebas_blender/**


