# Ignorar archivos y carpetas comunes de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
venv/
.env.*
# Ignorar modelos grandes y datos temporales
data/
data/dataset-en-bruto/
models/*.pt
models/*.pth
models/train-validate/imagenes/
notebooks/.ipynb_checkpoints/
models/train-validate/scripts_train_ttd/imagenes/
